a.gameColour1{background-color: #ff0000;}
a.gameColour1:hover{box-shadow: 0px 0px 15px 0px #ff0000;}
a.gameColour2{background-color: #ffff00;}
a.gameColour2:hover{box-shadow: 0px 0px 15px 0px #ffff00;}
a.gameColour3{background-color: #ff1493;}
a.gameColour3:hover{box-shadow: 0px 0px 15px 0px #ff1493;}
a.gameColour4{background-color: #ffa500;}
a.gameColour4:hover{box-shadow: 0px 0px 15px 0px #ffa500;}
a.gameColour5{background-color: #00ff00;}
a.gameColour5:hover{box-shadow: 0px 0px 15px 0px #00ff00;}
a.gameColour6{background-color: #8a2be2;}
a.gameColour6:hover{box-shadow: 0px 0px 15px 0px #8a2be2;}
a.gameColour7{background-color: #11b9de;}
a.gameColour7:hover{box-shadow: 0px 0px 15px 0px #11b9de;}
a.gameColour8{background-color: #8b4513;}
a.gameColour8:hover{box-shadow: 0px 0px 15px 0px #8b4513;}
a.gameColour9{background-color: #c0c0c0;}
a.gameColour9:hover{box-shadow: 0px 0px 15px 0px #c0c0c0;}
a.gameColour10{background-color: #000000;}
a.gameColour10:hover{box-shadow: 0px 0px 15px 0px #000000;}